html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #6C554B;
}
#map {
    height: 50%;
    width: 100%;
}
/*body{*/
    /*background: #ecf0f1;*/
    /*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-size: 16px;*/
/*}*/

input[type=submit] {
    background-color: #2ecc71;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size:16px;
    text-align: center;
    padding: 12px 20px 14px;
}
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.holder{
}

#boxes #dialog {
    width: 400px;
    margin:100px auto;
    padding:30px 20px 20px;
    height: 300px;
    border-radius:5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    background: #fff;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 15pt;

}

#popupfoot {
    font-size: 16pt;
    position: absolute;
    bottom: 0px;
    width: 250px;
    left: 250px;
}
.logos {
    margin-left: 20px;
}

.table-editable {
    position: relative;
}

.table-remove {
    color: #700;
    cursor: pointer;
}
.table-remove :hover {
     color: #f00;
}

.table-up, .table-down {
    color: #007;
    cursor: pointer;
}
.table-up :hover {
     color: #00f;
 }
.table-down :hover {
    color: #00f;
}


.table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
}
.table-add :hover {
     color: #0b0;
}

#tables {
    margin: 10px 10px 10px 10px;
    background: white;
    padding: 20px;
}
#addP {
    padding: 20px;
}
.playersName {
    /*width: 50px;*/
}
.hide {
    display: none;
}
.show-header {
    display: table-header-group;
}
.show-cell {
    display: table-cell;
}